h3 {
 border: 1px solid green; 
 padding: 5px;
}
p {
 border: 1px solid green; 
 padding: 5px;
}

table tr{

 background-color:#ffffff;

}



ul {
   padding-left: 40px;
   margin-top: 1em;
   margin-bottom: 1em;
}